<!-- ปรับ z-index ได้ตรงนี้ -->
<div
  style="z-index: 1060; position: fixed; top: 0; left: 0; height: 100%; width: 100%; background: rgba(255,255,255,0.5);"
>
  <svg
    xmlns="http://www.w3.org/2000/svg"
    style="margin:auto;display: block; margin-top: calc(50vh - 125px); height: 250px; width: 280px;"
    preserveAspectRatio="xMidYMid"
  >
    <style type="text/css">
      @keyframes breath-9cc84890-d858-4ac5-b31e-2fdf3e38667a {
        0% {
          animation-timing-function: cubic-bezier(0.9647, 0.2413, -0.0705, 0.7911);
          transform: scale(0.9099999999999999);
          opacity: 0.94;
        }

        51% {
          animation-timing-function: cubic-bezier(0.9226, 0.2631, -0.0308, 0.7628);
          transform: scale(1.02994);
          opacity: 0.96;
        }

        100% {
          transform: scale(0.9099999999999999);
          opacity: 0.98;
        }
      }
    </style>
    <g style="transform-origin:140px 125px;transform:scale(1.5)">
      <g transform="translate(140,125)">
        <g transform="translate(0,0)">
          <g
            class="path"
            [style.transform]="'scale(' + scaleN + ')'"
            style="transform: scale(0.91); transform-origin: -60.08px -7.46881px; animation: 1s linear -0.44s infinite normal forwards running breath-9cc84890-d858-4ac5-b31e-2fdf3e38667a;"
          >
            <path
              d="M43.63 0L18.68-48.17L18.68 0L5.51 0L5.51-73.55L18.68-73.55L43.63-24.95L43.63-73.55L56.48-73.55L56.48 0L43.63 0"
              fill="#f7af00"
              stroke="none"
              stroke-width="none"
              transform="translate(-97.84000205993652,23.6511962890625)"
              style="fill: rgb(247, 175, 0);"
            ></path>
          </g>
          <g
            class="path"
            [style.transform]="'scale(' + scaleX + ')'"
            style="transform: scale(0.91); transform-origin: 9.52px -7.46881px; animation: 1s linear -0.22s infinite normal forwards running breath-9cc84890-d858-4ac5-b31e-2fdf3e38667a;"
          >
            <path
              d="M114.91-73.55L97.52-37.26L114.91 0L100.98 0L89.86-27.11L89.21-27.11L77.76 0L63.83 0L80.78-37.26L80.78-37.26Q76.68-46.22 72.31-55.40L72.31-55.40L72.31-55.40Q67.93-64.58 63.83-73.55L63.83-73.55L77.76-73.55L89.21-50.11L89.86-50.11L89.86-50.11Q91.15-52.92 92.56-55.84L92.56-55.84L92.56-55.84Q93.96-58.75 95.36-61.78L95.36-61.78L100.98-73.55L114.91-73.55"
              fill="#f7af00"
              stroke="none"
              stroke-width="none"
              transform="translate(-97.84000205993652,23.6511962890625)"
              style="fill: rgb(119, 171, 212);"
            ></path>
          </g>
          <g
            class="path"
            [style.transform]="'scale(' + scaleP + ')'"
            style="transform: scale(0.91); transform-origin: 71.28px -7.46881px; animation: 1s linear 0s infinite normal forwards running breath-9cc84890-d858-4ac5-b31e-2fdf3e38667a;"
          >
            <path
              d="M120.74-73.55L152.28-73.55L152.28-73.55Q156.49-73.55 160.16-71.98L160.16-71.98L160.16-71.98Q163.84-70.42 166.48-67.72L166.48-67.72L166.48-67.72Q169.13-65.02 170.69-61.34L170.69-61.34L170.69-61.34Q172.26-57.67 172.26-53.57L172.26-53.57L172.26-50.33L172.26-50.33Q172.26-46.22 170.69-42.61L170.69-42.61L170.69-42.61Q169.13-38.99 166.48-36.23L166.48-36.23L166.48-36.23Q163.84-33.48 160.16-31.97L160.16-31.97L160.16-31.97Q156.49-30.46 152.28-30.46L152.28-30.46L133.70-30.46L133.70 0L120.74 0L120.74-73.55zM150.12-60.70L133.70-60.70L133.70-43.31L150.12-43.31L150.12-43.31Q154.76-43.31 156.92-45.58L156.92-45.58L156.92-45.58Q159.08-47.84 159.08-51.95L159.08-51.95L159.08-51.95Q159.08-55.84 156.92-58.27L156.92-58.27L156.92-58.27Q154.76-60.70 150.12-60.70L150.12-60.70"
              fill="#f7af00"
              stroke="none"
              stroke-width="none"
              transform="translate(-97.84000205993652,23.6511962890625)"
              style="fill: rgb(195, 203, 0);"
            ></path>
          </g>
        </g>
      </g>
    </g>
  </svg>
</div>
